/* CDN Fonts */
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://fonts.cdnfonts.com/css/gloock-2');

/* Font Faces */
@font-face {
  font-family: 'GyeonggiMillenniumBackground';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'GyeonggiMillenniumBackground', sans-serif;
  --font-ko-sub: 'MaruBuri', sans-serif;
  --font-en-main: 'Gloock', sans-serif;
  --color-primary: #FFFFFF;
  --color-secondary: #101F7B;
}